<section>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand custom-font" (click)="scrollToTop()" routerLink=""><span class="logo">A</span>
                <span class="logo">N</span>
                <span class="logo">G</span> News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="/news/business">Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="/news/entertainment">Entertainment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="/news/sports">Sports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToTop()" routerLink="/news/technology">Technology</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>